.historial-panel {
  flex: 1;
  background-color: #d6d6d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.historial-panel h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111;
  text-shadow: 2.5px 2.2px 2px #10b981;
}

.subtitulo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333;
}

.filtrosH {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.filtrosH input,
.filtrosH select {
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px solid #333;
}

.btn-filtrar {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 40px;
  background-color: #10b981;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.btn-filtrar:hover {
  color: black;
  filter: saturate(1.5);
  border: 2px solid black;
  transform: scale(1.02);
}

.btn-filtrar img {
  margin-left: -5px;
}

/* Contenedor con scroll horizontal */
.tabla-container {
  width: 100%;
  overflow-x: auto;
  justify-items: center;
}

/* Tabla */
.tabla {
  max-width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  min-width: 900px; /* para forzar scroll en pantallas pequeñas */
}

.tabla th {
  background-color: #626262;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 0.85rem;
}

.tabla td {
  background-color: #f0f0f0;
  max-height: 100px;
  text-overflow: ellipsis; /* añade "..." si se desborda */
  font-size: 0.85rem;
}

.tabla th,
.tabla td {
  border: 1px solid #333;
  padding: 0.3rem;
  text-align: center;
}

.cell-content {
  max-height: 100px; /* límite de altura */
  overflow-y: auto; /* scroll vertical solo si es necesario */
  overflow-x: hidden; /* evita scroll horizontal */
  padding: 4px; /* opcional para dar aire */
}

/* Definir ancho fijo por columna */
.col-fecha {
  max-width: 95px;
  max-width: 95px;
}
.col-curso {
  max-width: 120px;
  max-width: 120px;
}
.col-docente {
  max-width: 120px;
  max-width: 120px;
}
.col-procedencia {
  max-width: 120px;
  max-width: 120px;
}
.col-activos {
  max-width: 120px;
  max-width: 120px;
}
.col-prioridad {
  max-width: 95px;
  max-width: 95px;
}
.col-observaciones {
  max-width: 180px;
  max-width: 180px;
}
.col-estado {
  max-width: 90px;
  max-width: 90px;
}

.prioridad.alta {
  color: red;
  font-weight: bold;
}

.prioridad.media {
  color: orange;
  font-weight: bold;
}

.prioridad.baja {
  color: green;
  font-weight: bold;
}

.estado.resuelta {
  background-color: #14db5d;
  font-weight: bold;
}

.estado.pendiente {
  background-color: #ff9e59;
  font-weight: bold;
}

.editar-estado {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.estado img {
  height: 20px;
}

.estado img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Navegación inferior */
.paginacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.btn-vermas {
  display: flex;
  flex-direction: row;
  gap: 5px;
  background-color: #6caeff;
  color: black;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.btn-vermas:hover {
  background-color: #3b82f6;
  color: white;
  transform: scale(1.03);
}
