* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.container-login {
  display: flex;
  height: 100vh;
}

.login-left,
.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-left {
  background-color: #5e5e5e;
}

.login-right {
  background-color: #dcdcdc;
  position: relative;
}

.login-right p {
  margin: 0;
  padding: 0;
}

.login-form {
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ---------- GOOGLE ---------- */

.btn-google-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  color: #3c4043;
  border: 1px solid #dadce0;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-google:hover {
  background-color: #6e6e6e;
  color: #ffffff;
  font-weight: 600;
  transform: scale(1.05);
}

.btn-google img {
  width: 18px;
  height: 18px;
}

/* ---------- ADMIN ---------- */

.admin-login {
  margin-top: 10px;
  width: 100%;
}

.admin-toggle {
  background: none;
  border: none;
  color: #bdbdbd;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: left;
}

.admin-toggle:hover {
  color: #00ff88;
}

.admin-form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 16px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-8px);
  transition:
    max-height 0.45s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s ease,
    transform 0.3s ease;
}

.admin-form.open {
  max-height: 300px; /* suficiente para inputs + botón */
  opacity: 1;
  transform: translateY(0);
}

.admin-form label {
  color: #6fffa3;
  font-size: rem;
  font-weight: 600;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
}

.admin-form input {
  font-size: 0.9rem;
  padding: 6px;
  border: 2px solid #00ff88;
  border-radius: 8px;
  outline: none;
}

.login-helper-text {
  text-align: center;
  font-size: 0.9rem;
  color: #e0e0e0;
}

/* ---------- BOTÓN LOGIN ---------- */

.btn-login {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.btn-login button {
  background-color: #00ea81;
  width: 40%;
  color: #3c4043;
  border: 1px solid #dadce0;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login button:hover {
  background-color: #00ff8c;
  color: black;
  border: 1px solid black;
  font-weight: 700;
  transform: scale(1.05);
}

/* ---------- DERECHA ---------- */

.logo-top {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
}

.eye-logo {
  width: 270px;
}

.sci-title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 2.5rem;
}

.logo-bottom {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 80px;
}

.logo-top:hover,
.logo-bottom:hover {
  transform: scale(1.12);
  transition: transform 0.4s;
  filter: brightness(1.2);
}
