.MoRe-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.MoRe-overlay .modal-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  row-gap: 0.8rem;
  width: min(400px, 100%);
  max-width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-in-out;
  justify-content: center;
}

.modal-container h3 {
  margin-bottom: 5px;
  font-size: clamp(1.2rem, 1.8vw, 1.3rem);
  text-align: center;
  font-weight: 600;
}

.modal-container textarea {
  width: 100%;
  min-height: 120px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.MoRe-overlay .modal-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.modal-buttons button {
  margin: 0;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.modal-buttons button:hover {
  transform: scale(1.05);
}

.btn-confirm {
  background: #1e3a5f;
  color: white;
}

.btn-cancel {
  background: #ccc;
}

.btn-confirm:hover {
  filter: brightness(1.4);
}

.btn-cancel:hover {
  filter: brightness(0.9);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
