.formulario-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.formulario {
  display: flex;
  flex: 1 1 340px;
  max-width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.formulario h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111;
  text-shadow: 2.5px 2.2px 2px #10b981;
  margin-bottom: -0.5rem;
}

.fecha-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #333;
  font-style: italic;
}

.fecha {
  margin-right: 9px;
  margin-top: 5px;
}

/* Contenedor para encimar los elementos */
.calendar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 20px; /* Ajusta al tamaño de tu imagen PNG */
  cursor: pointer;
  margin-right: 2px;
}

.calendar-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none; /* El clic "atraviesa" la imagen */
}

.fecha-input {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Lo hace invisible */
  padding: 0;
  margin: 0;
  border: none;
}

.fecha-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Efecto hover aplicado al contenedor para que afecte a la imagen */
.calendar-wrapper:hover .calendar-icon {
  filter: brightness(1.2);
  transform: scale(1.2);
  transition: all 0.2s ease;
  cursor: pointer;
}

/* Mantenemos tu estilo de asterisco */
.input-required {
  color: red;
}

/* --- Grid del formulario --- */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 1.5rem 2.2rem;
  margin: 0.5rem 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: #222;
}

.form-group input {
  padding: 0.4rem;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  height: 32px;
}

.form-group-full {
  grid-column: 1 / -1;
}

/* --- Botones --- */
.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15%;
}

.btn-cancelar,
.btn-guardar {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: black;
  border: none;
  padding: 0.1rem 0.4rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  align-items: center;
}

.btn-cancelar:hover,
.btn-guardar:hover {
  color: #ebebeb;
  filter: saturate(1.5);
  border: 2px solid black;
  transform: scale(1.02);
}

.btn-guardar {
  background-color: #3691ffce;
}

.btn-cancelar {
  background-color: #ff5252cd;
}

.detalles {
  width: 275px;
  height: 80px;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.85rem;
}

.lista-reportados {
  display: flex;
  flex: 1 1 220px;
  max-width: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lista-reportados h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.3rem;
}

.lista-reportados ul {
  background-color: #ffffff;
  min-height: 30vh;
  width: 90%;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  resize: none;
  list-style: none;
  font-size: 0.8rem;
}

.foto-incidencia {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 1.2rem;
  width: 90%;
  display: flex;
  justify-content: center;
}

.foto-incidencia h4 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.foto-placeholder,
.foto-preview {
  width: 100%;
  height: 120px;
  background-color: #ffffff;
  border: 2px dashed #444;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  cursor: pointer;
}

.foto-preview {
  object-fit: cover;
  border-style: solid;
}

.foto-placeholder img {
  width: 40px;
  height: 40px;
}

.foto-placeholder:hover,
.foto-preview:hover {
  filter: brightness(0.95);
}

.NImapa-pcs {
  display: flex;
  flex: 2 1 500px;
  max-width: 300px;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 0.5rem;
}

.header h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.body {
  width: 94%;
  display: grid;
  gap: 0.15rem;
  justify-content: center;
  align-items: start;
}

.pc-docente {
  width: 100px;
  height: 60px;
  background-color: #3bd345;
  border-radius: 5px;
  padding: 4px;
}

.pc-estudiante {
  /* RESPONSIVE */
  width: 100%;
  /* evita crecimiento exagerado */
  max-width: 50px;
  /* mantiene cuadrado */
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  background-color: #3bd345;
  border-radius: 5px;
  transition: 0.2s ease;
}

.pc-estudiante:hover,
.pc-docente:hover,
.activo-extra:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.pc-numero {
  position: absolute;
  top: 2px;
  font-size: 0.85rem;
  font-weight: 600;
}

.pc-estudiante img {
  width: 88%;
  height: 88%;

  object-fit: contain;
}

.NImapa-extras {
  display: grid;
  flex: 1 1 220px;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  max-width: 200px;
  gap: 0.8rem;
  justify-items: center;
}

.activo-extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 60px;
  width: 74px;
  text-align: center;
  background-color: #3bd345;
}

.activo-extra span {
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
}

.activo-extra img {
  height: 40px;
  width: 80%;
}

/* Si la procedencia es alguna aula */
.NImapa-aula {
  width: 51%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 0.4rem;
}

.NImapa-aula h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #222;
}

.NIaula-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: 100%;
}

.NIaula-col {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NIaula-col h3 {
  margin: 0;
  font-size: 0.7rem;
  color: #333;
  font-weight: bold;
}

.NIaula-col .activo-extra {
  width: 90%;
}

/*MENÚ FLOTANTE DE CATEGORÍAS*/
.custom-select-group {
  position: relative; /* Para que el contenedor hijo se posicione respecto a este */
}

.custom-select-trigger {
  background-color: white;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 0.4rem;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /* Asegura que el padding no infle la caja */
}

.custom-select-trigger.placeholder {
  font-weight: normal;
}

/* Aquí aplicamos el truco del recorte de texto */
.select-text-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1; /* Esto obliga al span a usar todo el espacio disponible */
  text-align: left;
}

.custom-dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  margin-top: -2px;
}

.main-category-list {
  background: white;
  border: 2px solid #000;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 120%;
  min-width: 100px;
}

.category-item {
  padding: 0.4rem;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.category-item:hover,
.category-item.active {
  background-color: #007bff;
  color: white;
}

/* AQUÍ ESTÁ LA MAGIA DEL DESPRENDIMIENTO */
.floating-submenu {
  position: absolute;
  top: -2px; /* Alineado arriba del elemento padre */
  left: 100%; /* Justo a la derecha de la lista principal */
  background: white;
  border: 2px solid #000;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 210px;
  color: #000; /* Para que el texto vuelva a ser negro */
}

.submenu-item {
  padding: 0.4rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.submenu-item:hover {
  background-color: #007bff;
  color: white;
}

/* Ajuste para que la flecha no se deforme si el texto empuja */
.arrow-icon {
  flex-shrink: 0; /* Evita que la flecha se aplaste con textos largos */
  width: 6px;
  height: 6px;
  border-right: 1.5px solid #000000;
  border-bottom: 1.5px solid #000000;
  transform: rotate(45deg);
  display: inline-block;
  margin-left: 10px;
  margin-top: -4px;
}

/* Cuando el menú esté abierto, solo rotamos el elemento */
.arrow-icon.open {
  transform: rotate(-135deg); /* Apunta hacia arriba */
  margin-top: 4px; /* Ajuste para mantener el centro visual */
}

.arrow-right {
  font-size: 10px;
}

/* 1. Esto SOLO aplicará a Curso, Docente, Prioridad y Procedencia */
.custom-select-group:not(:nth-child(4))
  .custom-dropdown-container
  .main-category-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden; /* Evita scrolls horizontales raros */
}

/* 2. Esto asegura que el de CATEGORÍA (que es el 4to elemento) pueda desbordar hacia la derecha */
.custom-select-group:nth-child(4) .custom-dropdown-container {
  overflow: visible !important;
}

.custom-select-group:nth-child(4) .main-category-list {
  overflow: visible !important;
}

/* 3. El estilo bonito de tu barra de scroll (solo para los que lo necesitan) */
.custom-select-group:not(:nth-child(4)) .main-category-list::-webkit-scrollbar {
  width: 6px;
}

.custom-select-group:not(:nth-child(4))
  .main-category-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-select-group:not(:nth-child(4))
  .main-category-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
