.reportes-panel {
  flex: 1;
  min-width: 0;
  background-color: #d6d6d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.reportes-panel h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111;
  text-shadow: 2.5px 2.2px 2px #10b981;
  align-content: center;
}

/* Intervalos */
.intervalos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.intervalos button {
  padding: 0.3rem 1rem;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #10b981;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.8rem;
}

.intervalos button:hover {
  filter: saturate(1.5);
}

.intervalos .activo {
  color: black;
  filter: saturate(1.5);
  border: 2px solid black;
  transform: scale(1.02);
}

/* KPIs */
.indicadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 1.2rem 0;
}

.indicador {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  align-items: center;
  width: 232px;
  max-width: 100%;
}

.circulo1,
.circulo2,
.circulo3 {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: #000;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.circulo1::after,
.circulo2::after,
.circulo3::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: #e5e7eb;
  border-radius: 50%;
  z-index: 1;
}

.circulo1 {
  background: conic-gradient(#6b7280 0deg 360deg, #e5e5e5 270deg 360deg);
}

.circulo2 {
  background: conic-gradient(#4ade80 0deg 360deg, #e5e5e5 270deg 360deg);
}

.circulo3 {
  background: conic-gradient(#4fb1f7 0deg 360deg, #e5e5e5 270deg 360deg);
}

.regist,
.percent,
.average {
  position: relative;
  z-index: 2;
}

.descargas {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.iconos {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.iconos img {
  width: auto;
  height: 40px;
}

.iconos img:hover {
  cursor: pointer;
  filter: saturate(1.5);
  transform: scale(1.05);
}
